<a name="<%= interaction.id %>"></a>

<details class="interaction-block">
  <summary>
    <input type="checkbox" class="interaction-checkbox" value="<%= interaction.id %>" data-interaction-json='<%= h(JSON.generate(interaction.raw_interaction)) %>' style="margin-right: 8px;" />
    <span style="color: #0006ff;">
    <strong><%= h(interaction.description.capitalize) %></strong>
    <% if interaction.has_provider_state? %>
      given <%= h(interaction.provider_state) %>
    <% end %>
    </span>
  </summary>

  <div class="interaction-content">
    <input type="hidden" class="interaction-json" value='<%= h(JSON.generate(interaction.raw_interaction)) %>' />
      <% if interaction.has_provider_state? %>
        Given <strong><%= h(interaction.provider_state) %></strong>,
      <% end %><br />
<%= h(interaction.provider_name) %> will <strong>asyncronously</strong> send <strong><%= h(interaction.description) %></strong>:
        <pre><code class="json"><%= interaction.response %></code></pre>
  </div>
</details>